a{
text-decoration: none;
color: rgb(45, 36, 0);
font-size: medium;
}
body{
    background-color: rgb(254, 247, 230);
    display: flex;
    align-items: center;
    flex-direction: column;
}
nav{
    background-color: #638a50ce;
    width: auto;
    padding: 12px 24px;
    border-radius: 999px;
    display: flex;
    gap: 18px;
    position: fixed;
    box-shadow: 0 10px 30px #deffd952;
    margin-top: 12px;
}
.header{
    display: flex;
    height: 54vh;
    img{
        width: 29%;
        height: 50vh;
        object-fit: cover;
        border-radius: 0 0 0 30px;
    }
}
h1{
    color: cornsilk;
    font-family: 'Comfortaa';
}
h2, h3, h4{
    font-family: 'Comfortaa';  
}
p {
    font-family: 'Palanquin';
}
.home-h1{
    background-image: url(Sunflower.jpg);
    width: 71vw;
    height: 50vh;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    border-radius: 0 0 30px 0;
    font-size: 60px;
}

h2{
    font-size: 30px;
}
#presentation{
display: flex;
justify-content: space-around;
width: 100%;
color: rgb(29, 21, 2);
height: 47vh;
border-radius: 30px;
}
.info{ 
    width: 50%;
    margin-bottom: 15px;
}
.bold{
    font-weight: bold;
}
.diplômes{
    width: 25%;
}
#compétences{
    padding-top: 50px;
    background-color: rgb(176, 194, 145);
    padding-bottom: 20px;
width: 100%;
}
#comp{
    text-align: center;
    font-size: 45px;
}
.car{
 display: flex;
 justify-content: center;
 height: 47vh;
 width:100%;
}
.carrée{
    margin: 30px;
    margin-top: 30px;
    color:rgb(11, 24, 9);
    background-color: #638a50ce;
    border-radius: 20px;
    padding: 20px;
    width: 187px;
}
.Skills{
    text-align: center;
}
.comptest {
    background-color: #0b100b;
    width: 25%;
    color: white;
    text-align: center;
}
.comptest span {
    font-size: 100px;
}
.projet{
display: flex;
flex-direction: column;
align-items: center;
}
#projets{
  background-color: rgb(255, 225, 147); 
  width: fit-content; 
  padding: 8px;
  border-radius: 10px;
}
#Hel{
    display: flex;
    flex-wrap: wrap;

}
.proj{
    background-color:rgb(255, 225, 147);
    border-radius: 
    20px;
    margin: 30px;
}
.bas{
    padding: 5px;
    padding-top: 0px;
}
#A-projet{
    width: 360px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
#A{
    width: 360px;
    margin: 50px;
    margin-top: 65px;
}
#B-projet{
    width: 600px;
    height: 280px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
#B{
    width: 600px;
    height: 405px;
}
#C-projet{
    width: 400px;
    height: 185px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
#C{
    width: 400px;
    margin: 50px;
    margin-left: 470px;
    margin-top: -125px;
}
button{
    background-color:  rgb(224, 255, 193);
    border-width: 0;
    padding: 8px;
    border-radius: 10px;
}
button:hover{
    background-color: #d3ffa7;
}
.empty{
    width: 100px;
    border-bottom: 5px solid rgb(176, 194, 145);
}
.logo{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .header{
        height: 35vh;
        img{
            height: 35vh;
        }
    }
    .home-h1{
        height: 35vh;
    }
    #presentation{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    text-align: center;
    }
    .info{
    width: 100%;  
    text-align: center;  
    }
    .diplômes{
        width: 100%;
        text-align: center;
    }
#compétences{
    padding-top: 10px;
}
.car{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
    #Hel{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #A-projet{
        width: 300px;
    }
    #A{
        margin: 5px;
        width: 300px;
    }
    #B-projet{
        width: 300px;
        height: 230px;
    }
    #B{
        margin: 5px;
        width: 300px;

    }
    #C-projet{
        width: 300px;
    }
    #C{
        margin: 5px;
        width: 300px;
    }
#contacter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  }